body {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 2%;
    width: 100vw;
    height: 100vh;
    background-color: rgb(203, 230, 129);
    overflow: hidden;
}

.dropdown {
    /* position: relative; */
    /* margin: 20% 5%; */
    width: 25%;
    text-align: center;
    font-size: 24px;
}

.dropbth {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    min-height: 100px;
    border: 2px solid black;
    background-color: rgb(196, 226, 85);
    border-radius: 25px;
}

.dropdownContent {
    visibility: hidden;
    box-sizing: border-box;
    background-color: rgb(196, 226, 85);
    border-radius: 0 0 25px 25px;
}

.subContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border: 2px solid black;
    border-top: none;
    min-height: 50px;
}

.lastCountry {
    border-radius: 0 0 25px 25px;
}

.dropdown:hover .dropbth {
    background-color: rgb(170, 197, 74);
    border-radius: 25px 25px 0 0;
}

.subContainer:hover {
    background-color: rgb(170, 197, 74);
}

.dropdown:hover .dropdownContent {
    visibility: visible;
}